# Ignore node_modules and build output
node_modules
bun.lockb
npm-debug.log
dist
*.tsbuildinfo
.cache
.DS_Store
# Ignore test and local files
*.test.*
*.spec.*
coverage
.env
.env.*
# Ignore editor and OS files
.vscode
.idea
*.swp
*.swo
*.bak
*.tmp
*.log
