@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-background: var(--color-background);
  --color-muted-background: var(--color-muted-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
}

@layer theme {
  :root {
    --color-background: #dddddd;
    --color-muted-background: #efefef;
    --color-foreground: #333333;
    --color-primary: #1e90ff;
    --color-secondary: #ff6347;
    --color-accent: #32cd32;
  }
  .dark {
    --color-background: #222222;
    --color-muted-background: #2a2a2a;
    --color-foreground: #b1b1b1;
    --color-loud-foreground: #efefef;
    --color-primary: #154c82;
    --color-secondary: #ff6347;
    --color-accent: #32cd32;
  }
}

@layer utilities {
  .dark {
    .prose {
      --tw-prose-bold: var(--color-loud-foreground);
      --tw-prose-code: var(--color-loud-foreground);
      --tw-prose-body: var(--color-foreground);
      --tw-prose-pre-bg: oklch(from var(--color-background) calc(l - 0.02) c h);
    }
  }
}

.ql-toolbar {
  &.ql-snow {
    padding-inline: 1rem;
  }
}
.ql-container {
  border: 0 none !important;
  display: grid;
  background: var(--color-muted-background);
  border-radius: 1rem;
  padding: 4rem;

  & .ql-editor {
    overflow: auto;
    color: var(--color-foreground);
    position: relative;
    font-size: 1rem;

    &.ql-blank::before {
      color: color-mix(in srgb, var(--color-foreground) 20%, transparent);
    }
  }
}
